/* ---------------- Global Classes ---------------*/
/* -------x------- Global Classes --------x-------*/

/*-----------------heater-------------------------*/
/* ------------------- navbar ------------------- */
/*---------x---------- navbar -----------x--------*/
/*---------x-------heater----------------x--------*/

/* ----------------- Main Content----------- */
/* --------------- Site title ---------------- */
/* --------x------ Site title --------x------- */
/* ---------------- Site Content ----------------*/
/* -------x-------- Site Content --------x-------*/
/* ----------x------- Main Content-------x---- */

/* ----------------- Footer --------------------- */
/* ---------x------- Footer ----------x---------- */



/*
    La propriété box-sizing peut être définie avec l'un des mots-clés suivants.
        
        content-box

        C'est la valeur initiale et la valeur par défaut, spécifiée dans le standard CSS. 
        Les propriétés width et height sont mesurées en incluant le contenu, 
        mais pas le remplissage, la bordure, la marge extérieure ou intérieure. 
        Les dimensions de l'élément sont donc calculées à partir de la hauteur 
        et de la largeur du contenu (on ne tient pas compte de la bordure ou du remplissage (padding)). 
        Ainsi, .box {width: 350px; border:10px solid black;} fournira une boîte dont la largeur vaut  370px.

        border-box

        Les propriétés width et height incluent le contenu, le remplissage (padding), la bordure, mais pas la marge. 
        C'est le modèle de boîte utilisé par Internet Explorer lorsque le document est en mode de compatibilité (Quirks). 
        La boîte de contenu ne peut pas être négative et est ramenée à 0 si nécessaire, 
        il est donc impossible d'utiliser border-box pour faire disparaître l'élément. 
        Les dimensions de l'élément sont calculées comme la somme de la bordure, du remplissage (padding) et du contenu.    
        Ici, les dimensions de l'élément sont calculées comme suit : 
        largeur = bordure + marge interne + largeur du contenu, et hauteur = bordure + marge interne + hauteur du contenu.
*/

/*
    Utilisation des propriétés CSS Flexbox : 
            justify-content
            align-items
            flex-direction
            order
            align-self
            flex-wrap
            flex-flow
            align-content

*/
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior:smooth;
  }

body {
    margin: 0;
  }

header {
    background: white;
}


h1 {
    text-align:left;
    color: #000;       
    margin-left: 50px;
  }

  article {
    
  }

a {
    text-decoration:none;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation img {
    margin: 0;
    padding: 0;    
}

.header_navigation ul {
    display: flex;
    list-style: none;
}

.header_navigation li {
    margin: 0 10px 0 20px;
}

.title {
    display: flex;   
    justify-content: flex-start;
    flex-direction: column;    
    align-items: flex-start;
    margin-bottom: 50px;
}

/*h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 50px;
}*/

.title p { 
    margin-left: 50px;    
}

#search_location {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 50px;    
}

#filters {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 50px;
    
    display: flex;
    justify-content: flex-start;    
    flex-flow: row wrap;

}
#filters span {    
    padding-right: 10px;
}

#info {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;    
    margin-left: 50px;
}

#info i {
    margin-right: 10px;
    
}

#activites {
    display: flex;   
    flex-direction: column;
}

#activites_cards {
    display: flex;
    justify-content: space-between;

}

#hebergements {
    
    /*background-color: darkgrey;*/   
}

#hebergements_cards {
    
}

.card {
        
}

#populaires {
    display: flex; 
}

.footer_navigation {
    display: flex;        
}

/*********
**********
body {
    font-family: 'Raleway', sans-serif;    
}

h1 {
   
}

h2 {
    
}

h3 {
    
}

.bold {font-weight: bold !important;}

p {
   
}

.sr-only {
   
}


/* header styles *//*
.header-wrapper {
    
}

.header {
    
}

.header-img {
    
}

.header-img:hover {
    
}

.header-img:hover path {
    
}

.header-navigation {
    
}

.header-navigation ul {
    
}

.header-navigation-item {
  
}

.header-navigation-item a {
   
}

.header-navigation-item:hover,
.header-navigation-item:focus {
   
}

.header-search {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;   
}

.search-icon {
    
}

.header-search input[type='search'] {
    display: flex;
    flex-wrap: wrap;
}

.header-search input[type='search']:focus,
.header-search input[type='search']:hover {
    
}

/* main styles *//*
.content {
    
}

.content section {
   
}

.content-link {
    
}

.content-link:hover,
.content-link:focus {
    
}

/* footer styles *//*
.footer {
    
}

.footer-navigation {
    
}

.footer-navigation ul {
    line-height: 25px;
    margin-right: 80px;
    padding-left: 0;
}

.footer-title {
    color: #000;
    margin-bottom: 30px;
}

.footer-navigation-link {
    color: #000;
    text-decoration: none;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
    text-decoration: underline;
}
*******************x*************************/
